*{
    margin: 0; padding: 0;
}
/*Header Start*/
header{
    border-bottom: 2px solid #EEF0F3;
}
.wrapper_header{
    width: 90%;
    margin: 0 auto;
    overflow: hidden;

}

.logo{
    width: 11%;
    float: left;
    overflow: hidden;
}
.logo img{
    width: 100%;
    margin: 5px 0;
}

.nav{
    float: right;
}

.nav ul{
    list-style: none;
    float: right;
    margin: 20px 0;
}
.nav ul li{    
    float: left;
    padding: 0 10px;
}
.nav ul li:last-child{
    padding-right: 0;
}

.nav ul li a{
    text-decoration: none;
    color: #0E2555;
    font-size: 19px;
    font-family: Arial, Helvetica, sans-serif;
}
.nav ul li a:hover{
    color: #008AFF;
}

/*Header End*/

/*Slidder Start*/
.slidder{
    text-align: center;
    width: 50%;
    margin: 30px auto;
    font-family: Arial, Helvetica, sans-serif;
}
.slidder h1{    
    font-size: 45px;
    line-height: 55px;
    color: #0F2656; 
}
.blue{
    color: #008AFF;
}
.slidder p{
    line-height: 25px;
}
/*Slidder End*/

/*Slidder_2 Start*/
.wrapper_slidder_2 {
    width: 90%;
    margin: 40px auto;
    overflow: hidden;
}

.slidder_2_1{
    width: 48%;
    text-align: end;
    padding: 10px;
    float: left;
    font-family: Arial, Helvetica, sans-serif;
    
}
.slidder_2_1 strong{
    font-size: 40px;
    color: #F05464;
    padding: 10px;
}

.slidder_2_2{
    width: 48%;
    text-align: start;
    padding: 10px;
    float: left;
}
.slidder_2_2 h1{ 
    font-size: 40px;
    font-family: Arial, Helvetica, sans-serif;
    color: #0F2656; 
}
/*Slidder_2 End*/

/*Post section start*/
.wrapper_post{
    width: 90%;
    margin: 10px auto;
    overflow: hidden;
}
.post_1{
    width: 290px;
    height: 340px;
    padding: 30px;
    background-color: #FEEBED;
    float: left;
    margin: 27px;
}
.post_2{
    background-color: #EAF9F4;
}
.post_3{
    background-color: #FFF8E7;
}
.post_1 img{    
    margin: 20px;
    text-align: center;
}
.post_1 h3{
    font-size: large;
    padding: 10px 0;
    font-family: Arial, Helvetica, sans-serif;
}
/*Post section end*/

/*Footer Start*/
.footer{
    background-color: #008AFF;
    height: 30px;
    padding: 27px;
    text-align: center;
    letter-spacing: 0.5px;
    color: white;
    font-family: arial;
    margin-top: 20px;
}
.footer a{
    text-decoration: none;
    color: white;
}
/*Footer End*/